@{
    // Partial _Footer.cshtml containing
}

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - COMP2139_Labs - <a asp-area="" asp-controller="Home" asp-action="About">Sherry Zarei</a>
    </div>
</footer>