@{
    // Partial view - _Navbar.cshtml
}
@using COMP2139_Labs.Areas.ProjectManagement.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">COMP2139_Labs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

            <form class="d-flex" asp-controller="Home" asp-action="GeneralSearch" method="get">
                <input class="form-control" type="text" placeholder="Search" name="SearchString" />
                <select class="form-control btn btn-secondary dropdown-toggle" name="SearchType">
                    <option value="Projects">Projects</option>
                    <option value="Tasks">Tasks</option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <ul class="navbar-nav flex-grow-1 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house-chimney"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><i class="fa-solid fa-circle-info"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="ProjectManagement" asp-controller="Project" asp-action="Index"> <i class="fa-solid fa-diagram-project"></i> Projects</a>
                </li>

            @if (SignInManager.IsSignedIn(User))
            { 
                //profile
                <li class="nav-link">
                    <a class="nav-link text-dark"
                        asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage your account">
                        <i class="fa fa-user-circle"></i> Profile
                    </a>
                </li>

                //logout
                <li class="nav-item">
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark" style="cursor:pointer">Logout</button>
                    </form>
                </li>
            }
            else
            {
                //login
                <li class="nav-link">
                    <a class="nav-link text-dark"
                        asp-area="Identity" asp-page="/Account/Login">
                        <i class="fa fa-sign-in"></i>Login
                    </a>
                </li>

                //register
                <li class="nav-link">
                    <a class="nav-link text-dark" 
                        asp-area="Identity" asp-page="/Account/Register">
                        <i class="fa fa-user-plus"></i> Register
                    </a>
                </li>
            }
      
            </ul>
        </div>
    </div>
</nav>