@model ProjectTask
@{
    ViewData["Title"] = "Edit Task";
}

<form  asp-action="Edit" method="post">
    @Html.HiddenFor(model => model.ProjectId)

    <div class="form-control">
        <label asp-for="Title" class="control-label">Title</label>
        <input asp-formaction="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Description" class="control-label">Description</label>
        <input asp-formaction="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Description" class="control-label">Project</label>
        <select asp-for= "ProjectId" asp-items="ViewBag.Projects" class="form-control"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="save" class="btn btn-primary" />
        <a asp-action="Index" asp-route-projectId="@Model.ProjectId" class="btn btn-secondary">Back to List</a>
    </div>

</form>