
@{
}

<footer class="border-top footer text-muted">
    <div class="container-fluid">
        &copy; 2024 - A1-COMP_2139 - <a asp-area="" asp-controller="Home" asp-action="About">
            Ramtin Abolfazli - 101419226,
            Sherry Zarei - 101274382,
            Darya Mansouri - 101394900
        </a>
    </div>
</footer>
