@model List<IdentityRole>

@{
    ViewData["Title"] = "Role Manager";
}

<h1 class="text-lg-center">Role Manager</h1>

<form method="post" asp-action="AddRoles" asp-controller="RoleManager">

    <div class="input-group">
        <input name="roleName" class="form-control" />
        <span class="input-group-btn">
            <button class="btn btn-outline-primary">Add New Role</button>
        </span>
    </div>


</form>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Role</th>
        </tr>

    </thead>

    <tbody>
        @foreach(var role in Model)
        {
            <tr>
                <th>@role.Id</th>
                <th>@role.Name</th>
            </tr>
        }
    </tbody>



</table>

