@model List<Project> //to be able to accept the list of projects
@{
    //razor block
    ViewData["Title"] = "Projects";
}

@if (Model.Any()) //is there is a list of projects (any data in model)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>

            @foreach(var project in Model) //as being (var project in List<Project)
            {
                <tr>
                    <th>@project.ProjectId</th>
                    <th>@project.Name</th>
                    <th>@project.Description</th>
                </tr>  
            }
            
        </tbody>
    </table>
}
else
{
    <p>No projects available</p>
}
