﻿@{
    ViewData["Title"] = "About Page";
}

<div style="padding: 20px 80px">
    <h2>@ViewData["Title"]</h2>


    <h4>Group Members: </h4>
    <p>Ramtin Abolfazli - 101419226 <a href="https://github.com/ramtina1381/A1-COMP2139.git">GitHub Repository</a></p>
    <p>Sherry Zarei - 101274382 <a href="https://github.com/sherryzarei/COMP2139">GitHub Repository</a></p>
    <p>Darya Mansouri - 101394900 <a href="https://github.com/Daryamn88/COMP2139">GitHub Repository</a></p>
</div>