@model A1_COMP2139.Models.Hotel

@{
    ViewData["Title"] = "Create Hotel";
}

<h1>Create Hotel</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="HotelName" class="control-label"></label>
        <input asp-for="HotelName" class="form-control" />
        <span asp-validation-for="HotelName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Availability" class="control-label"></label>
        <input asp-for="Availability" class="form-control" />
        <span asp-validation-for="Availability" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" accept="image/jpeg, image/jpg, image/png" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Amenities</label>
        @foreach (var amenity in Enum.GetValues(typeof(A1_COMP2139.Models.Hotel.Amenity)))
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Amenities" value="@amenity" />
                <label class="form-check-label">@amenity</label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
