@{
    ViewData["Title"] = "About";
}
@{
    var Name = "Sherry Zarei";
    var studentNumber = "101274382";
    var courseCode = "COMP2139 - W2024";
}

<!DOCTYPE>
<html>
    <head>
        <title>Welcome to My Page</title>
    </head>
    <body>
        <h1>About Me</h1>
        <p>Name: @Name</p>
        <p>Student Number: @studentNumber</p>
        <p>Course Code: @courseCode</p>
    </body>
</html>
