@model A1_COMP2139.Models.Car

@{
    ViewData["Title"] = "Add New Car";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="RentalCompany" class="control-label"></label>
        <input asp-for="RentalCompany" class="form-control" />
        <span asp-validation-for="RentalCompany" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Manufacturer" class="control-label"></label>
        <input asp-for="Manufacturer" class="form-control" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model" class="control-label"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Availability" class="control-label"></label>
        <input asp-for="Availability" class="form-control" type="number" />
        <span asp-validation-for="Availability" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" accept="image/jpeg, image/jpg, image/png" class="form-control-file" type="file" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
